.register {
    width: 100%;
    height: 900px;

    .register-form-background {
        height: 100%;
        background-color: hsl(294, 50%, 31%);

        .register-form {
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border: 4px dashed #6F2877;
            padding: 30px 75px;
            border-radius: 15px;
            background-color: white;

            .title {
                padding: 30px 0px;
                overflow-y: hidden;
                text-align: center;

                p {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }

    .register-image {
        img {
            width: 600px;
        }
    }

    .error-message {
        font-size: 10px;
        color: red;
        overflow-y: hidden;
    }
}




/* Reponsive on 1000px */
@media (max-width : 1000px) {
    .register {
        .register-form-background {
            .register-form {
                width: 100%;
                padding: 30px;
                margin-right: 10px;
            }
        }
    }
}

/* Reponsive on 850px */
@media (max-width : 850px) {
    .register {
        flex-direction: column;
        height: 100%;

        .register-form-background {
            width: 100%;
            order: 1;

            .register-form {
                width: 80%;
                padding: 20px;
            }
        }

        .register-image {
            width: 100%;
            height: 100%;
        }
    }
}

/* Reponsive on 550px */
@media (max-width : 550px) {
    .register {
        width: 103%;

        .register-form-background {
            .register-form {
                width: 100%;
            }
        }
    }
}