.quiz-questions {
    width: 100%;
    margin-top: 100px;
    gap: 32px;

    img {
        cursor: pointer;
    }

    .quiz-questions-item {
        gap: 32px;
        display: flex;
        flex-direction: column;
        width: 818px;
        height: 100%;
        padding: 40px 72px;
        border-radius: 15px;
        border: 5px solid #6F2877;

        p {
            text-align: right;
            font-size: 25px;
            font-weight: 300;
        }

        p:first-child {
            color: #000;
        }

        .answers {
            gap: 20px;

            .answer {
                width: 100%;
                padding: 13px;
                gap: 10px;
                border-radius: 5px;
                border: 1px solid #292D32;


                p {
                    color: #464547;
                    font-size: 20px;
                    font-weight: 300;
                    margin-top: 9px;
                }

                .right-answer {
                    color: #B9E5FB;
                }

                .wrong-answer {
                    color: red;
                }

            }
        }

        .quiz-footer {
            height: 58px;
            overflow-y: hidden;

            img {
                width: 27px;
                height: 27px;

            }

            .quiz-footer-button {
                width: 117px;
                padding: 10px 8px;
                border-radius: 5px;
                border: 1px solid #6F2877;
                background-color: white;
                color: #464547;
                font-size: 20px;
                font-weight: 500;
                transition: border .3s ease;

                &:hover {
                    border: 5px solid #B9E5FB;
                }
            }
        }

    }

    .square {
        background: #D9D9D9;
        width: 70px;
        height: 70px;
        margin-top: 20px;
    }

    .quiz-questions-button {
        width: 60%;
        height: 112px;
        overflow-y: hidden;
        color: #FFF;
        font-size: 25px;
        font-weight: 500;
        border-radius: 5px;
        border: 1px solid #6F2877;
        background: #6F2877;
        padding: 32px 64px;
        margin: 50px 0px;
        transition: border .3s ease;

        &:hover {
            border: 5px solid #B9E5FB;
            background: #6F2877;
            color: #FFF;
        }
    }
}



/* Responsive on 850px */
@media (max-width : 850px) {
    .quiz-questions {
        .quiz-questions-item {
            width: 90%;
        }
    }
}

/* Responsive on 600px */
@media (max-width : 600px) {
    .quiz-questions {
        .quiz-questions-item {
            gap: 15px;
            padding: 10px;

            p,
            .answers .answer p {
                font-size: 15px;
            }
        }

        .quiz-questions-button {
            width: 300px;
            height: 70px;
            padding: 15px 10px;
            font-size: 20px;
        }
    }
}