.choose-college-from-register {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;

    h3 {
        font-weight: 800;
    }

    .college-items {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 10px;


        .college-item {
            width: 100px;
            height: 50px;
            justify-content: flex-start;

            img {
                width: 15px;
                height: 15px;
                margin: 0px 0px 15px 5px;
                cursor: pointer;
            }


        }
    }
}