.all-dawrat {
    width: 100%;
    gap: 40px;

    .all-dawrat-item {
        position: relative;
        justify-content: flex-start;
        width: 83%;
        height: 82px;
        padding: 10px;
        gap: 10px;
        font-size: 20px;
        font-weight: 300;
        border-radius: 5px;
        background: rgba(111, 40, 119, 0.25);
        cursor: pointer;

        &:hover {
            background: rgba(111, 40, 119, 0.35);
        }

        p {
            margin-top: 10px;
        }
    }

    .all-dawrat-item-2 {
        background: rgba(185, 229, 251, 0.50);

        &:hover {
            background: rgba(185, 229, 251, 0.80);
        }
    }

    .arrow-go-icon {
        position: absolute;
        left: 10px;
    }
}