.header {
    .profile-edit {
        * {
            overflow-y: hidden;
        }

        position: fixed;
        top: 10px;
        z-index: 30;
        flex-direction: column;
        width: 550px;
        height: 95%;
        padding: 35px;
        border-radius: 15px;
        background-color: white;
        border: 4px solid transparent;
        border-image: repeating-linear-gradient(to top right, #6F2877, #6F2877 8px, transparent 8px, transparent 35px) 1;


        p {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            color: #000;
        }


        .profile-edit-avatar {
            cursor: pointer;
            border-radius: 50%;
            position: relative;

            .brightness {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: all .5s ease;
                background-color: #00000011;
                color: #6F2877;

                &:hover {
                    background-color: #00000044;
                }
            }

            img {
                width: 98px;
                height: 98px;
            }

        }

        .profile-details {
            height: 70px;

            p {
                color: #000;
                font-size: 20px;
                font-weight: 300;
            }

            .retry-com {
                svg {
                    width: 30px;
                }

                h6 {
                    font-size: 13px;
                }
            }
        }


        .profile-data-spinner {
            width: 30px;
            height: 30px;
        }


        .profile-edit-form {
            width: 100%;
            text-align: center;

            .username-input-edit,
            .phone-input-edit {
                p {
                    margin-left: auto !important;
                    font-size: 15px;
                    margin: 2px;
                }
            }

            .phone-input-edit {
                margin: 5px 0px !important;
            }

            .save-changes-button {
                width: 100%;
                margin: 5px 0px;
                height: 50px;
                border-radius: 5px;
                background: #6F2877;
                transition: border .3s ease;

                &:hover {
                    border: 3px solid #B9E5FB;
                    background: #6F2877;
                }
            }

            .error-message {
                font-size: 10px;
                color: red;
                text-align: start;
            }

            span {
                cursor: pointer;
                color: #6F2877;
                text-decoration: underline;

                &:hover {
                    color: #6F2877DD;
                }
            }
        }
    }
}


/* Repsonsive on 600px */

@media (max-width : 600px) {
    .header {
        .profile-edit {
            padding: 20px;
        }
    }
}