.login-required {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 300px;
    font-size: 30px;
    z-index: 50;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 10px gray;
    gap: 10px;

    button {

        font-size: 13px;
        background-color: #6F2877;
        color: white;
        border-radius: 5px;
        transition: border .3s ease;
        border: 1px solid #6F2877;

        &:hover {
            background-color: #6F2877EE;
            border: 4px solid #B9E5FB;
        }

    }

    .login-button-req {
        width: 150px;
        height: 50px;
    }

    .back-button {
        width: 100px;
        height: 40px;
    }
}