.specialists {
    position: relative;
    width: 100%;
    text-align: center;


    .specialist-items {
        width: 100%;
        flex-wrap: wrap;
        overflow: auto;

        .specialist-item {
            width: 25%;
            height: 160px;
            flex-direction: column;

            img,
            p {
                cursor: pointer;
            }

            img {
                width: 80px;
                height: 80px;
            }


            .current-college {
                font-weight: 600;
                border-bottom: 4px solid #6F2877;
            }


            .specialist-item-inside {
                overflow-y: hidden;
                border-radius: 20px;
                padding: 20px 40px;
            }

            .hint-your-college {
                background-color: #B989BD77;
                transition: all .5s ease;
            }
        }
    }

    .show-more {
        color: #6F2877;
        transition: all .5s ease;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: #6F2877AA;
        }
    }
}

/* Responsive on 650px */
@media (max-width : 650px) {
    .specialists {
        height: 100%;

        .specialist-items {
            .specialist-item {
                width: 180px;
                height: 200px;
            }
        }
    }
}