@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets/styles/FlexStyles.scss";

@font-face {
    font-family: 'Alexandria';
    src: url('./assets/fonts/Alexandria_Font/Alexandria-VariableFont_wght.ttf') format('truetype');
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Alexandria';
    overflow-x: hidden;
    color: #464547;
}

a {
    text-decoration: none;
}

.dashboard-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}