.suggestions-ads {

    h2 {
        margin: 20px;
        line-height: 2;
    }



    .table-container {
        width: 90%;

        .ant-table-content {
            overflow-x: auto;
        }


        .ant-pagination {
            direction: ltr;

            .ant-pagination-item-link {
                overflow-y: hidden;
            }
        }
    }
}